<ul >
    <li>
        Employee {{id + 1}}: {{employee._name}} - <span [ngClass]="{highSalary: employee._salary > 1000}">{{employee._salary}}$</span> 
        
        <a style="color: blue" [routerLink]="['update/', id]" [queryParams]="{action: 'Update'}">Update</a>
        <a style="color: red" [routerLink]="['update/', id]" [queryParams]="{action: 'Delete'}">Delete</a>

        <br>

        <div *ngFor="let characteristic of characteristics" [ngStyle]="{color: characteristic == 'Hello World!' ? 'green' : 'black'}">   
            {{characteristic}}
        </div>

        <br>

        <app-employee-characteristics (sendCharacteristicToParentEvent)="receiveCharacteristicFromChild($event)"></app-employee-characteristics>
    </li>
</ul>


