<div class="container">
    <form class="form-group row">

        <div class="form-group col-md-3">
            <label>Name</label>
            <input type="text" placeholder="Name" #name>
        </div>
    
        <div class="form-group col-md-3">
            <label>Salary</label>
            <input class="form-control" type="number" placeholder="Salary" #salary>
        </div>

        <br>

        <button type="submit" class="btn btn-primary" (click)="createEmployee(name.value, salary.valueAsNumber)">Register</button>    
    </form>
</div>


<br><br><br>


<div *ngIf="employees.length > 0">

    <app-employee-child *ngFor="let _employee of employees; let _i=index" [employee]=_employee [i]=_i [receivedData]="receivedData" (sendToParentEvent)="receiveDataFromChild($event)"></app-employee-child>

</div>


